# Ignore virtual environment
venv/

# Ignore model weights
*.pth
*.pt
*.h5

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Streamlit cache (if using Streamlit)
.streamlit/

# Ignore environment files
*.env
